.marginNav {
    margin-left: 35%;    
}
.marginTitle {
    margin-left: 1%;
}
.colorNav {
    background-color: #6C757D;
    color: white;
} 
a {
    color: white;
}
.search {
    border-radius: 7px;
    border-radius: 7px;
    border-color: transparent;
    height: 36px;   
 }

aside{
margin-top: 2% ;
   margin-left: 10%;
}

section{
    margin-top: 2% ;
       margin-left: 20%;
    }
    


 aside,.parrafo{
    display: inline-block;
    
 }

 .parrafo{
    padding: 5px;
    column-count: 3;
    column-gap: 20px;
   background-color: whitesmoke;
   width: 60%;

 }

.options {
  height: 60px;
  width: 250px;
  padding: 15px;
  border-radius: 4px
  
}

a {
   color: black;
}

#carouselExampleSlidesOnly {
   border: red;
}
